<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @todo_list2.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @todo_list2.description %>
</p>

<%= link_to 'Edit', edit_todo_list2_path(@todo_list2) %> |
<%= link_to 'Back', todo_list2s_path %>
